/* || General text styling */
/* --------------------------------------------------------- */

html {
	font-size: 10px;
	background: #16161d; /* Eigengrau */
}

body {
	font: 1.6rem/150% Helvetica, Arial, sans-serif;
	padding 1.6rem;
	margin: 0 auto;
	max-width: 80rem;
}

p {

}

ul {  }

h1 {
	color: gray;
	text-shadow: 2px 2px 2px gray;
	font-size:3.2rem;
	text-align: center;
}

h2 {
	display: inline-block;
	color: lightgray;
}

h3 {
	font-size:1.6rem;
}

a {
	text-decoration: none;
	font-weight: bold;
	padding: .5rem;
}

/* Form reset */
button, input,
select, textarea {
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	padding: 0; margin: 4px;
}

label {
	font-weight: bold;
	color: lightgray;
}

textarea {
	overflow: auto;
}

/* || UTILITIES */
/* --------------------------------------------------------- */


/* || Navigation Bar */
/* --------------------------------------------------------- */
nav {
	display: flex;
	align-items: center;
	position: sticky;
	align-self: flex-start;
}

.dropdown {
	position: relative;
	display: inline-block;
	padding: .65rem;
	background-color: lightseagreen;
	border: 2px solid gray;
	border-radius: .5rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	margin-top: .7rem;
	margin-left: -.9rem;
	background-color: lightcoral;
	min-width: 150px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	padding: 12px 12px;
	z-index: 1;
}

/*.dropdown-content > p {
	border: 2px solid black;
}*/

.dropdown:hover .dropdown-content {
	display: block;
}

.search {
	margin: 2px;
	margin-left: auto;
}

/* || Form styling */
/* --------------------------------------------------------- */
input[type="text"], input[type="number"] {
	border: 2px solid black;
	border-radius: 3px;
	padding: 6px;
	background: lightgray;
}

input[type="number"] {
	max-width: 6.4rem;
}

input[type="submit"], button {
	color: white;
	border: 2px solid black;
	border-radius: .8rem;
	background-color: gray;
	padding: .65rem;
}

input[type="submit"]:hover, button:hover {
	background-color: darkgray;
}

/* || Box for card addition bar */

.add-card {
	display: flex;
	align-items: center;
	margin: .4rem;
	justify-content: center;

}



/* || Catalog entries */
/* --------------------------------------------------------- */

/* Image on hover */
.card-title {
	position: relative;
	display: inline-block;
}

.card-image {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 4px 4px;
	z-index: 1;
	border-radius: 10px;
}

.card-title:hover .card-image {
	display: inline-block;
}

/* Entry zebra styling*/

.entry:nth-child(4n-3) {
	background: lightgray;
}

.entry:nth-child(4n-1) {
	background: gray;
}

.entry {
	display: flex;
	align-items: center;
}

.entry .quantity {
	margin-right: 2rem;
	margin-left: auto;
}

.quantity {
	color: rebeccapurple;
}

.info-link {
	text-decoration: underline;
}

.info-link:hover {
	background: lightblue;
}

.info-link:visited {
	color: blue;
}


/* || Info page styling */
/* --------------------------------------------------------- */
