<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}netDeckr</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
    </head>

    <body>
        <header> 
            <h1> netDeckr </h1> 
        </header>

        <nav>
            <span class = "dropdown-bar">
            <div class="dropdown">
                <span>Cards</span>
                <div class="dropdown-content">
                    <p><a href={{ url_for('catalog.index') }}> Catalog </a></p>
                    <p><a href="#">Mass Entry</a></p>
                </div>
            </div>
            <div class="dropdown">
                <span>Decks</span>
                <div class="dropdown-content">
                    <p><a href="#">Deck Check</a></p>
                    <p><a href="#">Saved Decks</a></p>
                    <p><a href="#">Import Decks</a></p>
                </div>
            </div>
            </span>
            {% block search %}{% endblock %}
        </nav>

        <!-- main content -->
        <main>
            <section class="content">
                <header>
                    {% block header %} {% endblock %}
                </header>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </section>

            <aside>
                {% block aside %} {% endblock %}
            </aside>

        </main>
    </body>
</html>
