<!DOCTYPE html>
<title>{% block title %}{% endblock %} - netDeckr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>netDeckr</h1>
    <ul>
        <li><a href="{{ url_for('catalog.add') }}">Add Cards </a>
        <li><a href="{{ url_for('catalog.search') }}">Search </a>
        <!-- TODO: add links to uploading lists of cards and looking up decklists -->
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %} {% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
